
.p-hr__box

  &--top
    margin-top 97px

  &--contents
    margin-bottom 100px

    +breakpoint(sm)
      margin 0 10px 50px 10px

    +breakpoint(md)
      margin 0 20px 50px 20px

  &--description
    max-width 458px
    margin 0 auto 120px auto
    text-align center
    line-height (24/12)
    letter-spacing 0.2px
    font-size 12px

    +breakpoint(sm)
      margin 0 10px 60px 10px

  &--footer
    box-sizing border-box
    height 120px
    padding 46px 0
    background-color $color-hr-base

.p-hr__label
  &--logo
    display block
    width 140px
    margin 0 auto 100px auto
    text-align center
    line-height 0

    img
      width 100%

.p-hr__txt--ftrcopy
  margin 9px 0
  line-height 1
  text-align right
  font-size 10px
  color $color-hr-white

  +breakpoint(sm)
    margin 9px 10px

  +breakpoint(md)
    margin 9px 20px

  +breakpoint(lg)
    margin 9px 20px
