extend /_templates/layout

block vars

block main
  h1.p-hr__label--logo
    +logo

  p.p-hr__box--description
    | We are Hamon Radio - an independent internet radio station based in Tokyo.
    | We started Hamon Radio to create a third place where people of all the world share and communicate with each other via music we select from the world, particularly Japan.
    | "Hamon" means ripple in Japanese.When a drip falls in water, the ripple expands gently and gradually turns to greater influence.
    | We hope Hamon Radio can be like this very first drip.

  div.p-hr__box--contents
    // section.p-hr__box--youtube
    //   h2.c-label__hdr--contents
    //     | Youtube
    //   ul.c-list__card--with-ttl#js--list-youtube

    section.p-hr__box--instagram
      h2.c-label__hdr--contents
        | Instagram
      ul.c-list__card--photo#js--list-instagram

    section.p-hr__box--mixcloud
      h2.c-label__hdr--contents
        | Mixcloud
      ul.c-list__card--mixcloud#js--list-mixcloud
        li
          iframe(width='100%' height='120' src='https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FHamonRadio%2Fhamon-radio1-with-maa-portal-apartment-art-point%2F&amp;hide_cover=1&amp;light=1' frameborder='0')
