.u-flex
  display flex

.u-flex--top
  align-items flex-start

.u-flex--middle
  align-items center

.u-flex--bottom
  align-items flex-end

.u-flex--center
  justify-content center

.u-flex--left
  justify-content flex-start

.u-flex--right
  justify-content flex-end

.u-flex--space-between
  justify-content space-between

.u-flex--space-around
  justify-content space-around

.u-flex--column
  flex-direction column

.u-flex--nowrap
  flex-wrap nowrap

.u-flex--wrap
  flex-wrap wrap

.u-flex--wrap-top
  align-content flex-start

.u-flex--wrap-middle
  align-content center

.u-flex--wrap-bottom
  align-content flex-end

.u-flex--wrap-space-between
  align-content space-between

.u-flex--wrap-space-around
  align-content space-around

.u-flex--grow-1
  flex-grow 1

.u-flex--grow-2
  flex-grow 2

.u-flex--grow-3
  flex-grow 3