.u-ml
  for i in 0..30
    &--{i}
      margin-left percentage(i / 100)

.u-mr
  for i in 0..30
    &--{i}
      margin-right percentage(i / 100)

.u-mt
  for i in 0..30
    &--{i}
      margin-top percentage(i / 100)

.u-mb
  for i in 0..30
    &--{i}
      margin-bottom percentage(i / 100)
